<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-success">
        <a class="navbar-brand text-white" href="/">Plasma Donor Application</a>
    </nav>
    <section class="bg-white py-5">
        <div class="container">
            <h2 class="text-center mb-5">About Me</h2>
            <div data-aos="zoom-in">
                <p>Plasma Donor Application</p>
                <p>V.Karthic's Assignment 2</p>
            </div>
        </div>
    </section>


</body>

</html>